node_modules/
  ../../.CFUserTextEncoding
        ../../.DS_Store
        ../../.bash_profile
        ../../.bashrc
        ../../.bundle/
        ../../.cache/
        ../../.config/
        ../../.gem/
        ../../.gitconfig
        ../../.gnupg/
        ../../.hyper.js
        ../../.hyper_plugins/
        ../../.irb-history
        ../../.irb_history
        ../../.lesshst
        ../../.local/
        ../../.mkshrc
        ../../.node_repl_history
        ../../.npm/
        ../../.nvm/
        ../../.oh-my-zsh/
        ../../.profile
        ../../.psql_history
        ../../.rvm/
        ../../.solargraph/
        ../../.viminfo
        ../../.vscode/
        ../../.zcompdump-MA-STUDENT - Osman Khan - C17G44FAQ6L4-5.8.1
        ../../.zcompdump-MA-STUDENT - Osman Khan - C17G44FAQ6L4-5.8.1.zwc
        ../../.zcompdump-MA-STUDENT - Osman Khan - C17G44FAQ6L4-5.9
        ../../.zcompdump-MA-STUDENT - Osman Khan - C17G44FAQ6L4-5.9.zwc
        ../../.zlogin
        ../../.zprofile
        ../../.zsh_history
        ../../.zsh_sessions/
        ../../.zshrc
        ../../.zshrc.pre-oh-my-zsh
        ../../.zshrc.swp
        ../../Applications/
        ../../D:
        ../../Desktop/
        ../../Documents/
        ../../Downloads/
        ../../GS/
        ../../Javascript-Fundamentals/
        ../../Library/
        ../../Movies/
        ../../Music/
        ../../P:
        ../../Pictures/
        ../../Projects/
        ../../Public/
        ../../Somedir/
        ../../StackBuilder_3rd_party_licenses.txt
        ../../T:
        ../../bin/
        ../../chitter-challenge/
        ../../commandlinetools_3rd_party_licenses.txt
        ../../databases/
        ../../debug_symbols/
        ../../doc/
        ../../git-workflow-project/
        ../../gitDir/
        ../../golden-square/
        ../../hello.txt
        ../../hello_world.code-workspace
        ../../hello_world.rb
        ../../include/
        ../../index.js
        ../../installation_summary.log
        ../../installer/
        ../add.js
        ../add.test.js
        ../candies.js
        ../candies.test.js
        ../candy-shop/
        ../fizzbuzz.js
        ../fizzbuzz.test.js
        ../node_modules/
        ../package-lock.json
        ../package.json
        ../../lib/
        ../../makersbnb-ruby-seed copy/
        ../../makersbnb-ruby-seed/
        ../../mastery-quizzes/
        ../../music_database.sql
        ../../my_web_server/
        ../../pgAdmin 4.app/
        ../../pgAdmin_3rd_party_licenses.txt
        ../../pgAdmin_license.txt
        ../../scripts/
        ../../server_license.txt
        ../../share/
        ../../stackbuilder.app/
        ../../student-directory/
        ../../student_directory2/
        ../../students.csv
        ../../test.rb
        ../../uninstall-postgresql.app/
        ../../variables.rb
        ../../web-applications/
